
<h5 style="color:orange;">⬇ These links are temporary </h5>
<%= link_to "Users", users_path %><br />
<%= link_to "Rideshares", rideshares_path %><br />
<%= link_to "Create a ride", new_rideshare_path %><br />
<%= link_to "Create a place", new_place_path %><br />
<%= link_to "Places", places_path %><br />
<%= link_to "User's Rideshare", 'users/4/rideshares' %><br />
<!-- <#%= link_to "User Rideshare", user_rideshares_path %> -->




<button type="button" class="btn btn-accent">Primary</button>
<div class="container">
	<div class="vertical-center ">
		<div class="text-center">
			<div class="jumbotron">
				<h1 class="display-4">SAME LANE</h1>
				<p class="lead">This is a simple WORK rideshare app</p>
				<hr class="my-4">
				<p>Lorem ipsum dolor sit amet, sapientem dignissim aliquando no vim, sea legere interpretaris in, in graecis scriptorem duo.</p>
				<button type="button" class="btn btn-accent"><%= link_to "Sign up", new_user_registration_path %>
				</button>
			</div>
		</div>
	</div>
</div>


<div class="container">
	
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		
		<div class="container p-t-0 m-t-2 carousel-inner text-center justify-content-center">
			
			<div class="row row-equal carousel-item active m-t-0 container">
				<div class="col-md-4 vertical-center">
					<div class="card">
						<div class="card-img-top card-img-top-50">
							<img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
						</div>
						<div class="card-block p-t-2">
							<div class="container-fluid">
								<div class="row">
									<div class="col">
										<h3>Start</h3>
									</div>
									<div class="col">
										<h3>End</h3>
									</div>
									<div class="col">
										<h3>Time</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<p>St Peter</p>
									</div>
									<div class="col">
										<p>St Helier</p>
									</div>
									<div class="col">
										<p>9:00am</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-equal carousel-item active m-t-0 container">
				<div class="col-md-4 vertical-center">
					<div class="card">
						<div class="card-img-top card-img-top-50">
							<img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
						</div>
						<div class="card-block p-t-2">
							<div class="container-fluid">
								<div class="row">
									<div class="col">
										<h3>Start</h3>
									</div>
									<div class="col">
										<h3>End</h3>
									</div>
									<div class="col">
										<h3>Time</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<p>St john</p>
									</div>
									<div class="col">
										<p>St Helier</p>
									</div>
									<div class="col">
										<p>9:00am</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-equal carousel-item active m-t-0 container">
				<div class="col-md-4 vertical-center">
					<div class="card">
						<div class="card-img-top card-img-top-50">
							<img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
						</div>
						<div class="card-block p-t-2">
							<div class="container-fluid">
								<div class="row">
									<div class="col">
										<h3>Start</h3>
									</div>
									<div class="col">
										<h3>End</h3>
									</div>
									<div class="col">
										<h3>Time</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<p>St everywhere</p>
									</div>
									<div class="col">
										<p>St Helier</p>
									</div>
									<div class="col">
										<p>9:00am</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
