
<h5 style="color:orange;">⬇ These links are temporary </h5>
<%= link_to "Users", users_path %><br />
<%= link_to "Rideshares", rideshares_path %><br />
<%= link_to "Create a ride", new_rideshare_path %><br />
<%= link_to "Create a place", new_place_path %><br />
<%= link_to "Places", places_path %><br />
<%= link_to "User's Rideshare", 'users/4/rideshares' %><br />
<!-- <#%= link_to "User Rideshare", user_rideshares_path %> -->




<button type="button" class="btn btn-accent">Primary</button>

<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Dropdown button
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</div>