
<%= form_tag search_rideshares_path, method: :get do %>
	<div class="search-bar container">
		<div class="row row-styling justify-content-between">
			<div class="col-3">
<%= text_field_tag 'search[from]', nil, placeholder: 'FROM', class: "search-area-home"%>
			</div>
			<div class="col-3">
<%= text_field_tag 'search[to]', nil, placeholder: 'TO', class: "search-area-home" %>
			</div>
<!--			<div class="col-2">-->
<%#= text_field_tag 'search[date]', nil, placeholder: 'DATE' %>
<!--			</div>-->
<!--			<div class="col-2">-->
<%#= text_field_tag 'search[time]', nil, placeholder: 'TIME' %>
<!--			</div>-->
			<div class="col-2">
				<button class="submit-button search-button">Search</button>
			</div>
		</div>
	</div>
<% end %>


<!--SameWay -->
<div class="container container-sameway"><!-- *** JN/ change class container -->
  <div class="row row-styling">
    <%= image_tag(asset_pack_path('media/images/logo-line.png'), class: 'logo-line-img') %>
  </div>
  </div>
  <div class="container container-styling text-hero"> <!-- *** JN/ change class container -->
   <p >   Let’s get there. Together. <br/><br/>
   SameWay is a platform meant to connect people and make it easier for them to synchronize and use the same vehicle for their regular or occasional car journeys. Share a ride, reduce traffic, improve the environment and reach your destination on a positive note.<br/><br/>
   
     Win the Day the Same Way! </p>
  
</div>



<!-- 3 points of using SameWay-->
<div class="container container-card"> <!-- *** JN/ change class container -->
  <div class="card" style="width: 18rem;">
    <%= image_tag(asset_pack_path('media/images/cars.png'), class: 'card-img-top card-01') %>
    <div class="card-body">
      <h4>SAME ROAD</h4>
      <p class="card- text-show">Reducing the number of cars will result in less congestion, fewer collisions and better arrival times</p>
      <p class="card- text-hidden"><br/>The number of vehicles registered in Jersey has more than doubled since 1980 [...]  meaning the figures show there are more vehicles in the island than people. 
      <a href="https://www.gov.je/Government/JerseyInFigures/TravelTransport/pages/vehicletransport.aspx"> Vehicle transport statistics </a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag(asset_pack_path('media/images/people.png'), class: 'card-img-top card-02') %>
    <div class="card-body">
      <h4>SAME COMMUNITY</h4>
      <p class="card-text text-show">Start or end the day in good company and with bright conversation</p>
      <p class="card-text text-hidden"> <br/>People with strong social connections may live longer and healthier lives, according to numerous studies.
      <a href="https://www.theguardian.com/sustainable-business/2017/apr/26/carpooling-commuting-car-share-liftshare-uber"> Carpooling eases drudgery of commuting </a></p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag(asset_pack_path('media/images/plants.png'), class: 'card-img-top card-03') %>
    <div class="card-body">
      <h4>SAME NATURE</h4>
      <p class="card-text text-show">Contribute to a cleaner environment, better air and give nature a breather too</p>
      <p class="card-text text-hidden">Approximately one third of greenhouse gas emissions in Jersey come from motorised vehicles [...] gas emissions will continue to rise and congestion levels will have an affect.
      <a href="https://www.gov.je/Environment/ProtectingEnvironment/Air/pages/indoorair.aspx"> Air pollution and your health </a></p>
    </div>
  </div>
</div>


<!-- Carousel -->
<div class="container container-ride "><!-- *** JN/ change class container -->
	<div class="carousel-container">
		<div id="carouselExampleIndicators" class="carousel slide vertical-center" data-ride="carousel">
			<div class="carousel-inner">
				<% @rideshares.each_with_index do |ride, i| %>
					<div class="carousel-item <%= i == 0 ? "active" : "" %>">
					<div class ="container container-styling">
          <div class="row">
            <div class="container-custom">
              <div class="col-costum2">

                <div class="container-custom"> 
                  <div class="col-custom3">
                    <div class="col-custom">
                      <div id="avatar"><%= image_tag user_avatar(ride.user, 69) %>
          </div>
                    </div>
                    <div class="col-custom">
                      <div id="rider-name">
                        <strong><%= ride.user.first_name.capitalize + ' ' + 
                        ride.user.last_name.slice(0).upcase + '.'%></strong>
                      </div>
                    </div>
                  </div>
                  <div id="start_date"><%= ride.start_date&.strftime("%B %e, %Y") %></div>
                  <div class="container-grey">
                    <div class="row-custom">
                      <div id="ride-time"><%= ride.dep_at&.strftime('%I:%M %p') %></div>
                      <div id="ride-time"><%= ride.arr_at&.strftime('%I:%M %p') %></div>
                    </div>
                    <div class="col-custom2">
                      <%= image_tag(asset_pack_path('media/images/dashed-line.svg')) %>
                      <div class="row-custom">
                        <div id="ride-name"><%= ride.from.name %></div>
                        <div id="ride-name"><%= ride.to.name%></div>
                      </div>
                    </div> 
                  </div>
                  <div class="button-join">
                    <%= button_to 'Join the ride', rideshare_path(ride), :method => :get, class: 'submit-button' %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
					</div>
				<%
					end
				%>
        </div>

			</div>
        <% if false %>
		  <ol class="carousel-indicators">
          <% @rideshares.each_with_index do |r, i| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>"></li>
          <% end %>
      </ol>
      <% end %>
	</div>

</div>
