  <div class="form-section">
    <h2>Sign up</h2>
    <div class="blue-line"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => "form-control", :placeholder => "First Name"%>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => "form-control", :placeholder => "Last Name"%>
      </div>

      <div class="field">
        <%= f.text_field :phone_number, 
                          maxlength: 11,
                          autofocus: true, 
                          autocomplete: "phone_number",
                          :class => "form-control", 
                          :placeholder => "Phone Number" 
        %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Email" %>
      </div>

      <div class="field">
      <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Password (#{@minimum_password_length} characters minimum)" %>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Confirm your password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => "submit-button"  %>
      </div>
    <% end %>

    <% if false %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
