<!-- GO/This can be changed. I've placed this table only as a visual helper. -->

<%= link_to "Users", users_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>

  <%number = 0%> <!-- GO/ A variable that's incremented - index for users -->

  <% @users.each do |user| %>
    <tr>
      <th scope="row">
        <%number += 1%>
        <%= number %>
      </th>
      <td><%= user.first_name.capitalize %></td>
      <td><%= user.last_name.capitalize %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %><td>
    </tr>
    
  </tbody>
<% end %>
</table>