<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<%= form_with(model: rideshare, local: true) do |form| %>
  <% if rideshare.errors.any? %>
    <%= rideshare.errors.full_messages %>
  <% end %>

  <%= form.fields_for :from, Place.new do |ff| %>

  <div id="map2"></div><br /> <!-- GO/ Renders the map -->

    <div class="field">
      <%= ff.label :from %>
      <%= ff.text_field :name %>
    </div>

    <div class="field">
      <%= ff.label :lat, class: "hidden" %> <!-- GO/ We don't want to see these fields -->
      <%= ff.hidden_field :lat%>
    </div>

    <div class="field">
      <%= ff.label :lng, class: "hidden" %>
      <%= ff.hidden_field :lng%>
    </div>
  <% end %>

  <%= form.fields_for :to, Place.new do |ff| %>

    <div class="field">
      <%= ff.label :to %>
      <%= ff.text_field :name %>
    </div>

    <div class="field">
      <%= ff.label :lat, class: "hidden" %>
      <%= ff.hidden_field :lat%>
    </div>

    <div class="field">
      <%= ff.label :lng, class: "hidden" %>
      <%= ff.hidden_field :lng%>
    </div>
    
  <% end %>

<!-- GO/To be created a way of storing multiple days

  <% Date::ABBR_DAYNAMES.each do |day| %>
    <%= form.check_box :days, {}, day %>
    <%= day %>
  <% end %>     -->

  <div class="field">
    <%= form.label :days%>
    <%= form.select :days, Date::ABBR_DAYNAMES.zip((0..6).to_a) %>
  </div>

  <div class="field">
    <%= form.label :start_date%>
    <%= form.date_field :start_date, min: Date.today %> 
  </div>

  <!-- GO/Users can't choose a date in the past -->

  <div class="field">
    <%= form.label :end_date%>
    <%= form.date_field :end_date, min: Date.today %>
  </div>

  <div class="field">
    <%= form.label :dep_at%>
    <%= form.time_field :dep_at %>
  </div>

  <div class="field">
  <%= form.label :arr_at%>
  <%= form.time_field :arr_at %>
  </div>
  
  <!-- GO/Avoiding unnecessary numbers -->

  <div class="field">
    <%= form.label :seat %>
    <%= form.number_field :seat, min: 1, max: 6 %> 
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>