<h3 id="notice">Rides</h3>
<div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name: </th>
      <th scope="col">From: </th>
      <th scope="col">To: </th>
      <th scope="col">Days: </th>
      <th scope="col">Starts at: </th>
      <th scope="col">Ends at: </th>
      <th scope="col">Departure: </th>
      <th scope="col">Arrival: </th>
      <th scope="col">Seats: </th>
    </tr>
  </thead>
  <tbody>
  <% days = Date::ABBR_DAYNAMES %>
    <% @rideshares.each do |ride| %>
      <tr>
      <!-- GO/ Capitalized first name and last name first letter capitalized-->
        <td><strong><%= ride.user.first_name.capitalize + ' ' + 
        ride.user.last_name.slice(0).upcase + '.'%></strong></td>
        <td><%= ride.from.name %></td>
        <td><%= ride.to.name %></td>
        <td><%= days[ride.days.to_i] %></td>
        <td><%= ride.start_date&.strftime('%B %d, %Y') %></td>
        <td><%= ride.end_date&.strftime('%B %d, %Y') %></td>
        <td><%= ride.dep_at&.strftime("%B %e, %Y at %I:%M %p")%></td>
        <td><%= ride.arr_at&.strftime("%B %e, %Y at %I:%M %p") %></td>
        <td><%= ride.seat - ride.passengers.count %></td>
        <td><%= link_to 'Join the ride', rideshare_path(ride) %></td>
        <td><%= link_to 'Edit', edit_rideshare_path(ride) %></td>
        <td><%= link_to 'Delete', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Ride', new_rideshare_path %>
</div>
