<%= form_tag search_rideshares_path, method: :get do %>
	<div class="search-bar container">
		<div class="row justify-content-between">
			<div class="col-3">
				<%= text_field_tag 'search[from]', nil, placeholder: 'FROM' %>
			</div>
			<div class="col-3">
				<%= text_field_tag 'search[to]', nil, placeholder: 'TO' %>
			</div>
<!--			<div class="col-2">-->
				<%#= text_field_tag 'search[date]', nil, placeholder: 'DATE' %>
<!--			</div>-->
<!--			<div class="col-2">-->
				<%#= text_field_tag 'search[time]', nil, placeholder: 'TIME' %>
<!--			</div>-->
			<div class="col-2">
				<button>Search</button>
			</div>
		</div>
	</div>
<% end %>


<% if @rideshares.empty? %>
	<div class="container">
		<h1>No rideshares available</h1>
	</div>
<% else %>
	<div class="row">
		<% @rideshares.each do |r| %>
			<div class="col-sm-3">
				<div>
					<ul>
						<li><%= r.from.name %></li>
						<li><%= r.from.parish %></li>
						<li><%= r.to.name %></li>
						<li><%= r.to.parish %></li>
						<li><%= r.dep_at.strftime("%-l:%M%P") %></li>
						<li><%= r.arr_at.strftime("%-l:%M%P") %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
<% end %>