<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'> 
<% end %>

<h2>Ride</h2>
<% days = Date::ABBR_DAYNAMES %>
Name: <%= @rideshare.user.first_name.capitalize + ' ' + 
      @rideshare.user.last_name.slice(0).upcase + '.'%><br />
From: <span id="from"><%= @rideshare.from.name%></span><br />
To: <span id="to"><%= @rideshare.to.name%></span><br />
Days: <%= days[@rideshare.days.to_i]%><br />
Start Date: <%= @rideshare.start_date.strftime('%B %d, %Y')%><br />
End Date: <%= @rideshare.end_date.strftime('%B %d, %Y') %><br />
Start Time: <%= @rideshare.dep_at.strftime("%B %e, %Y at %I:%M %p")%><br />
End Time: <%= @rideshare.arr_at.strftime("%B %e, %Y at %I:%M %p")%><br />
Seats available: <%= @rideshare.seat - @rideshare.passengers.count %><br />



<div>
    <p>
      <%= link_to 'Edit', edit_rideshare_path(@rideshare), :class => "link" %>
      <%= link_to 'Delete', @rideshare, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link"%>
    </p> 
  <!-- JN/ Join a ride button-->
  <% if @rideshare.passengers.map(&:user).include?(current_user) %> <!-- IF THE USER IS ALREADY IN THE RIDE, PASSENGER CAN CANCEL HIS REQUEST -->
    <p>
      <%= button_to 'Cancel request', passenger_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, :class => "delete-button" %>
    </p>
  <% else %> <!-- IF THE USER IS NOT IN THE RIDE, THEN PASSENGER CAN REQUEST TO JOIN THE RIDE -->
    <p>
    <%= button_to "Join the ride", passenger_path(@rideshare.id), method: :post, :class => "submit-button"%>
    </p>
  <% end %>
</div>

<%= link_to "Back", rideshares_path, :class => "link" %><br />


<!-- GO/ Add map-->

<div id="map"></div><br /> 

<!-- GO/ We need the info from these elem for the map, but we don't have to see 
them on the page, hence the hidden class-->
<span id="latFrom" class = "hidden"><%= @rideshare.from.lat %></span><br />
<span id="lngFrom" class = "hidden"><%= @rideshare.from.lng %></span><br />
<span id="latTo" class = "hidden" ><%= @rideshare.to.lat %></span><br />
<span id="lngTo" class = "hidden"><%= @rideshare.to.lng %></span><br />