<h2 class="alert-heading">
  <%= @room.name %>
</h2>
<div class="blue-line"></div>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <img src="<%= user_avatar(room_message.user) %>" class="avatar" alt="">
            </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1">
                  <%= room_message.message %>
                </p>

                <div class="text-right">
                  <small>
                    <%= room_message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    


    <%= form_with(model: @room_message, id: 'new_room_message', remote: true) do |f| %>

      <div class="input-group mb-3">
            <%= f.label :message,
      wrapper: false,
      label: false,
      input_html: {
        class: 'chat-input'
      } %>
            <%= f.text_field :message %> 
        <div class="input-group-append">
    <%= f.submit "Send", class: 'submit-button chat-input' %>
        </div>
      </div>
    <%= f.label :room_id, class: "hidden" %> <%= f.number_field :room_id %>
  <% end %>
  
  </div>
</div>