<%= form_with(model: @place, local: true) do |f| %>

    <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
    </div>

    <div class="field">
    <%= f.label :parish %>
    <%= f.text_field :parish %>
    </div>
    

    <div class="field">
    <%= f.label :lat %>
    <%= f.number_field :lat %>
    </div>

    <div class="field">
    <%= f.label :lng %>
    <%= f.number_field :lng %>
    </div>

<!-- <%= f.fields_for :rideshares do |form|%>

  <div class="field">
    <%= form.label :days%>
    <%= form.number_field :days %>
  </div>

  <div class="field">
    <%= form.label :start_date%>
    <%= form.date_field :start_date %>
  </div>

   <div class="field">
    <%= form.label :end_date%>
    <%= form.date_field :end_date %>
  </div>

    <div class="field">
    <%= form.label :dep_at%>
    <%= form.time_field :dep_at %>
  </div>

   <div class="field">
    <%= form.label :arr_at%>
    <%= form.time_field :arr_at %>
  </div>

   <div class="field">
    <%= form.label :seat%>
    <%= form.number_field :seat %>
  </div>

  <%end%> -->

  <%= f.submit %>
<% end %>