<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<%= form_with(model: @place, local: true) do |f| %>

  <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>  

  <div class="field">
  <%= f.label :lat %>
  <%= f.text_field :lat %>
  </div>

  <div class="field">
  <%= f.label :lng %>
  <%= f.text_field :lng %>
  </div>
  
  <%= f.submit %>
<% end %>