<% provide :head_tags do %> <!-- GO/ To auto reload the map -->
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>
  
<header><h1 class="display-4"><%= @place.name %></h1></header>

<p>Address: <%= @place.name %></p>
<p>Coordinates: <%= @place.lat %> <%= @place.lng %></p>

<%= link_to 'Edit', edit_place_path(@place) %>
<%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' } %>

