<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://kit.fontawesome.com/4466fa649b.js" crossorigin="anonymous"></script>
	<title>App</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	
	<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="nav justify-content-between">
	<div class="nav logo-img">
		<%= image_tag(asset_pack_path('media/images/logo-square-white.png')) %>
	</div>
	<ul class="nav">
		<li class="nav-item">
			<%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
		</li>
		<li class="nav-item">
			<p class="nav-link">||</p>
		</li>
		<li class="nav-item">
			<%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
		</li>
	</ul>
</div>

<%= yield %>


</body>
</html>
