<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Same Way</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="main-header-bar">
    <div class="#">
      <a href="../"><%= image_tag("logo-square-white.png", :alt => "Same Way Logo", :class => "corner-logo") %> </a>
    </div>

    <div class="sign-up">
      <p>
        <% if user_signed_in? %>
          Hi, <strong><%= current_user.first_name %></strong>!<br />
          <%= link_to 'Edit profile', edit_user_registration_path %> &emsp;||&emsp;
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_registration_path %>  &emsp;||&emsp; 
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
        </p>
    </div>
  </header>


  <body>
  
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <% if false %>
        <p>
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </p>
      <% end %>

    <%= yield %>
  </body>
</html>
